#home-body{
  margin: 0;
  padding: 0;
  font-family: monospace;
  background: #241D2B;
}
#logo-home{
  position: absolute;
  left: 50%;
  top: 12%;
  -webkit-transform: translate(-50%, -12%);
  transform: translate(-50%, -12%);
}
#menu-home{
  width: 300px;
  padding: 40px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-43%);
  background: #00000000;
  text-align: center;
}
#menu-home button{
  border:0;
  background: none;
  display: block;
  margin: 20px auto;
  text-align: center;
  border: 2px solid #754F8E;
  padding: 14px 50px;
  outline: none;
  font-size: 16px;
  font-family: monospace;
  color: #EDF0DA;
  border-radius: 24px;
  transition: 0.25s;
  cursor: pointer;
}
#menu-home button:hover{
  background: #754F8E;
}
#menu-header{
  font-family: monospace;
  font-size: 25px;
  font-style: normal;
  font-variant: normal;
  font-weight: 600;
  line-height: 23px;
  color: #754F8E
}

#store-body {
  background-color: #241D2B;
}
#store-content {
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
#store-header {
  font-family: monospace;
  font-size: 25px;
  font-style: normal;
  font-variant: normal;
  font-weight: 600;
  line-height: 23px;
  color: #754F8E
}
#store-link {
  font-family: monospace;
  font-size: 16px;
  font-style: normal;
  font-variant: normal;
  font-weight: 500;
  line-height: 28px;
  color: #EDF0DA
}
#store-text-pink {
  font-family: monospace;
  font-size: 16px;
  font-style: normal;
  font-variant: normal;
  font-weight: 500;
  line-height: 23px;
  color: #FF8EA6
}

#store-text-white {
  font-family: monospace;
  font-size: 16px;
  font-style: normal;
  font-variant: normal;
  font-weight: 500;
  line-height: 23px;
  color: #EDF0DA
}

#store-text-yellow {
  font-family: monospace;
  font-size: 16px;
  font-style: normal;
  font-variant: normal;
  font-weight: 500;
  line-height: 23px;
  color: #F6AE2D
}

#social-body {
  background-color: #241D2B;
}

#social-content {
  position: absolute;
  left: 41%;
  top: 50%;
  -webkit-transform: translate(-41%, -50%);
  transform: translate(-41%, -50%);
}

#social_header {
  font-family: monospace;
  font-size: 25px;
  font-style: normal;
  font-variant: normal;
  font-weight: 600;
  line-height: 23px;
  color: #754F8E
}

#social-text {
  font-family: monospace;
  font-size: 16px;
  font-style: normal;
  font-variant: normal;
  font-weight: 500;
  line-height: 26px;
  color: #FF8EA6
}

#social-link {
  font-family: monospace;
  font-size: 16px;
  font-style: normal;
  font-variant: normal;
  font-weight: 500;
  line-height: 28px;
  color: #EDF0DA
}